.content {
  display: flex;
  gap: 3rem;
}

.profile {
  font-size: 8rem;
  color: pink;
}

.about-text {
  width: 50%;
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.tech-skills {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  row-gap: 3.5rem;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.icon {
  height: 3.5rem;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
  transition: transform 200ms ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }

  .tech-skills {
    width: 100%;
    gap: 1rem;
  }

  .tech-item {
    height: 4rem;
    width: 4rem;
    gap: 0.8rem;
    font-size: 0.8rem;
  }

  .icon {
    height: 2.5rem;
  }
}
