.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 60%;
  padding: 2.5rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 600;
  font-size: 1.2rem;
}

.input {
  padding: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  font-weight: 500;
}

.input:focus {
  outline: none;
}

.invalid {
  background-color: rgb(255, 228, 233);
}

.message {
  font-size: 0.9rem;
}

.hidden {
  visibility: hidden;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .form {
    width: 100%;
    padding: 1.5rem;
    gap: 0.5rem;
  }
  .label {
    font-size: 1rem;
  }
}
