.home {
  background: linear-gradient(rgb(246, 246, 246), rgba(0, 0, 0, 0) 50%),
    linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(246, 246, 246)),
    url('https://www.pixeden.com/media/k2/galleries/112/001-subtle-light-pattern-background-texture.jpg');
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 1.5rem;
}

.name {
  font-size: 4rem;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.contact {
  display: none;
}

.socials {
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 2.5rem;
  transition: transform 200ms ease-in-out;
  color: white;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
}

.icon:hover {
  transform: scale(1.2);
}

.arrow {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  bottom: 5%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
  .contact {
    display: inline;
  }

  .button {
    width: 9rem;
  }

  .socials {
    left: 1rem;
    bottom: 1rem;
    padding: 0;
    gap: 0;
  }
  .icon {
    font-size: 2rem;
  }
}
