@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 5rem);
  scroll-margin-top: 5rem;
  padding: 3.5rem 0;
}

@media (max-width: 480px) {
  section {
    min-height: calc(100vh - 4rem);
    scroll-margin-top: 4rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  gap: 3rem;
}

@media (max-width: 480px) {
  .container {
    gap: 1.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 400;
}

@media (max-width: 480px) {
  h2 {
    font-size: 2rem;
  }
}
