.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  gap: 0.5rem;
  background-color: black;
  color: white;
}

.socials {
  font-size: 2.2rem;
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
}

.icon {
  transition: transform 200ms ease-in-out;
  color: white;
}

.icon:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
