.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
}

.show {
  opacity: 1;
  z-index: 2;
}

.nav {
  width: 100%;
  height: 5rem;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.nav-links li a {
  font-size: 1.05rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  transition: transform 200ms ease-in-out;
  color: rgb(30, 29, 32);
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  background-color: rgba(255, 70, 84, 0.5);
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(30, 29, 32);
}

.burger {
  display: none;
  z-index: 1;
}

.icon {
  color: rgb(30, 29, 32);
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .nav {
    height: 4rem;
  }

  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -80vw;
    min-height: 100vh;
    width: 80vw;
    gap: 2rem;
    padding-top: 8rem;
    background-color: rgb(246, 246, 246);
    transition: 0.3s ease-in-out;
  }

  .nav-links.clicked {
    right: 0;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 469px) and (max-width: 768px) {
  .nav {
    padding: 0 4vw;
  }
}
